.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #333;
    margin-bottom: 20px;
}

.memo {
    margin-bottom: 30px;
}

#save-button {
    margin-top: 10px;
}

.exceeded {
    color: rgb(31, 31, 31);
    font-weight: bold;
}

.limit-minus {
    color: rgb(217, 50, 75);
}

.limit-plus {
    color: rgb(29, 54, 219);
}

#last-updated {
    font-size: 12px;
    color: #777;
}
